.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: #2e4d65;
}

.btn-login{
    background-color: #04c5e2;
    color:white;
    border-radius: 10px;
}

.dot {
    height: 120px;
    width: 120px;
    background: rgb(11,197,239);
    background: linear-gradient(180deg, rgba(11,197,239,1) 50%, rgba(22,167,189,1) 70%, rgba(46,104,150,1) 100%);
    border-radius: 50%;
    display: inline-flex; /* establish flex container */
    justify-content: center; /* center flex items horizontally, in this case */
    align-items: center; /* center flex items vertically, in this case */
  }
  
